h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}


.wrap {
  margin: 1rem;
}

small.timeline {
  margin: 1rem;
  font-size: 0.85rem;
}

footer {
  margin-top: 2rem;
}
